.App {
  text-align: center;
}

.book-container {
  width: 60%;
  margin: 0 auto;
}
/* .book-container_wrapper{
} */
.book-list {
  margin-top: 1em;
  flex: 1;
}

.book-list-item {
  padding: 0.5em 0 0.5em 0;
  border-bottom: 1px solid black;
}

.book-list-item:last-child {
  border: none;
}

.book-list-item.new {
  color: green;
}

.book-list-item:hover {
  cursor: pointer;
}

.new-book-form {
  margin: 0.5em 0 0.5em 0;
}

.book-info-container {
  text-align: center;
  flex: 2;
}

.book-info {
  display: flex;
}

.book-info img {
  flex: 1;
  margin: 1em 2em;
  width: 40%;
  height: 100%;
}

.book-info div {
  flex: 1;
  margin-top: 1em;
  text-align: left;
}

.book {
  width: 500px;
  height: auto;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete,
.view {
  display: none;
  float: right;
  z-index: 2;
  margin: 0 2px 0 2px;
}

.book-list-item:hover button {
  display: inline-block;
  cursor: pointer;
}
